@model AdminIndexViewModel
@{
    ViewBag.Title = "Admin";
}

<h2>Dodaj administratora</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" asp-action="AddAdmin">
    <div class="row mb-3">
        <div class="col-md-8">
            <input asp-for=@Model.UserName id="userName" name="userName" type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" type="Submit">Dodaj</button>
        </div>
    </div>
</form>
@if (Model.Admins.Any())
{
    <h2>Obecni administratorzy</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nazwa uzytkownika</th>
                <th scope="col">Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var admin in Model.Admins)
            {
                <tr>
                    <td>@admin.UserName</td>
                    <td><a asp-action="RemoveAdmin" asp-route-userName="@admin.UserName" class="btn btn-danger">Usun</a></td>
                </tr>
            }

        </tbody>
    </table>
}