@model ApplicationUser
@{
    var avatarPath = Model.AvatarPath != null ? $"/img/avatars/{System.Uri.EscapeDataString(Model.AvatarPath)}" : "/img/avatars/default.png";
    var about = Model.About ?? "Uzytkownik nic o sobie nie napisal";
}

<div class="panel mt-2" id="accordion">
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseone">
                @Model.UserName
            </a>
        </div>
        <div id="collapseone" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href="@avatarPath" data-lightbox="avatar">
                    <img class="card-img" href="@avatarPath" asp-append-version="true" />
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapsetwo">
                O mnie
            </a>
        </div>
        <div id="collapsetwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
                @about
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapsethree">
                Akcje
            </a>
        </div>
        <div id="collapsethree" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a asp-action="Index" asp-controller="Account" asp-route-id=@Model.Id class="btn btn-primary btn-block">Wszystkie</a>
                <a asp-action="TopCarousel" asp-controller="Account" asp-route-id=@Model.Id class="btn btn-primary btn-block">Top3 - karuzela</a>
                <a asp-action="TopLightBox" asp-controller="Account" asp-route-id=@Model.Id class="btn btn-primary btn-block">Top3 - LightBox</a>

                @if (User.Identity.Name == Model.UserName)
                {
                    <a asp-action="EditUser" asp-route-id=@Model.Id class="btn btn-secondary btn-block">Edytuj konto</a>
                }

                @if ((User.IsInRole("Admin")) || (User.Identity.Name == Model.UserName))
                {
                    <form method="post" asp-action="DeleteUser" asp-route-id=@Model.Id class="mt-2">
                        @* TODO: Prettier way of confirming delete action. *@
                        <button class="btn btn-danger btn-block" type="submit" onclick="return confirm('Czy na pewno chcesz usunac konto: @Model.UserName')">Usun konto</button>
                    </form>
                }

            </div>
        </div>
    </div>
</div>