@model ApplicationUser
@{
    ViewBag.Title = Model.UserName;
}
    <div class="row">
        <div class="col-lg-3">
            @await Html.PartialAsync("_ProfileAccordion", Model)
        </div>
        <div class="col-lg-9">
            @if (Model.Memes.Any())
            {
                foreach (var meme in Model.Memes)
                {
                    @await Html.PartialAsync("_MemeCard", meme)
                }
            }
        </div>
    </div>