@model ApplicationUser
@{
    ViewBag.Title = Model.UserName;
}

<h1>STRONA UŻYTKOWNIKA @Model.UserName</h1>

<div class="col-md-3">
    <div class ="panel" id="accordion">

        <div class="card">
            <div class="card-header">
                TUTAJ BEDZIE AWATAR
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseone">
                    O mnie
                </a>
            </div>
            <div id="collapseone" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum..
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapsetwo">
                    Akcje
                </a>
            </div>
            <div id="collapsetwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum.. Lorem ipsum.. Lorem ipsum..
                    Lorem ipsum..
                    Lorem ipsum..
                    Lorem ipsum..
                    v
                    Lorem ipsum..
                    Lorem ipsum..
                    Lorem ipsum..
                </div>
            </div>
        </div>

    </div>
</div>