@model AddMemeViewModel

@{
    ViewBag.Title = "Dodaj mema";
}

<form method="post" enctype="multipart/form-data" asp-action="AddMeme" asp-controller="Home">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Wybierz zdjecie</label>
        <input asp-for="Image" class="form-control-file" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>
