@model IndexViewModel
@{
    ViewBag.Title = "Glowna";
}
    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-primary btn-block text-center mt-2 mb-2" asp-action="AddMeme" asp-controller="Home" role="button">Dodaj</a>
        </div>
        <div class="col-lg-6">
            @if (Model.MemeCardViewModels.Any())
            {
                foreach (var meme in Model.MemeCardViewModels)
                {
                    @await Html.PartialAsync("_MemeCard", meme)
                }
            }
            @await Html.PartialAsync("_Pagination", Model.PaginationViewModel)
        </div>
    </div>