@model ICollection<Meme>
@{
    ViewBag.Title = "Glowna";
}
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary btn-block text-center mt-2 mb-2" asp-action="AddMeme" asp-controller="Home" role="button">Dodaj</a>
    </div>
    <div class="col-md-6">
        @if (Model.Any())
        {
            foreach (var meme in Model)
            {
                @await Html.PartialAsync("_MemeCard", meme)
            }
        }
    </div>
</div>
