@*@model Meme
@{
    var imagePath = $"/img/memes/{System.Uri.EscapeDataString(Model.ImagePath)}";
    var dateText = Model.CreationDate.ToString("MM/dd/yyyy HH:mm");
    var authorName = Model.ApplicationUser == null ? "Usuniete konto" : Model.ApplicationUser.UserName;
    var xDpoints = Model.XdPoints.Count;
}
<div class="card mb-3">
    <div class="card-header" style="font-weight: bold;">@Model.Title</div>
    <div class="card-body p-0">
        <img class="card-img m-0" src=@imagePath />
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-8">
                @dateText
                || <a asp-action="Index" asp-controller="Account" asp-route-id=@Model.ApplicationUserId style="text-decoration: none; color: black;">@authorName</a>
                || @xDpoints
            </div>
            <div class="col-4 ml-auto">
                @if (Model.IsXdClicked)
                {
                    <form method="post" asp-controller="Home" asp-action="RemoveXdPoint" asp-route-id=@Model.Id>
                        <button type="submit" style="text-decoration: none; color: black; font-weight: bold;" class="float-right">xD!</button>
                    </form>
                }
                else
                {

                    <form method="post" asp-controller="Home" asp-action="AwardXdPoint" asp-route-id=@Model.Id>
                        <button type="submit" style="text-decoration: none; color: black;" class="float-right">xD</button>
                    </form>
                }
                @if ((User.IsInRole("Admin")) || ((User.Identity.Name != null) && (User.Identity.Name == Model.ApplicationUser.UserName)))
                {
                    <form method="post" asp-controller="Home" asp-action="DeleteMeme" asp-route-id=@Model.Id>
                        <button type="submit" style="text-decoration: none; color: black; font-weight: bold;" class="btn-danger float-right mr-2" onclick="return confirm('Czy na pewno chcesz usunac ten obrazek?')">Usun</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>*@