@model ApplicationUser
@{
    var avatarPath = Model.AvatarPath ?? "/img/avatars/default.png";
    var about = Model.About ?? "Uzytkownik nic o sobie nie napisal";
}

<div class="panel mt-2" id="accordion">
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseone">
                @Model.UserName
            </a>
        </div>
        <div id="collapseone" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <img class="card-img" src=@avatarPath asp-append-version="true" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapsetwo">
                O mnie
            </a>
        </div>
        <div id="collapsetwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
                @about
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapsethree">
                Akcje
            </a>
        </div>
        <div id="collapsethree" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a asp-action="TopMemes" asp-controller="Account" asp-route-userId=@Model.Id asp-route-memePage="1" class="btn btn-primary btn-block">Top memy</a>
                <a asp-action="TopComments" asp-controller="Account" asp-route-userId=@Model.Id asp-route-commentPage="1" class="btn btn-primary btn-block">Top komentarze</a>

                @if (User.Identity.Name == Model.UserName)
                {
                    <a asp-action="EditUser" asp-route-id=@Model.Id class="btn btn-secondary btn-block">Edytuj konto</a>
                }

                @if ((User.IsInRole("Admin")) || (User.Identity.Name == Model.UserName))
                {
                    <form method="post" asp-action="DeleteUser" asp-route-id=@Model.Id class="mt-2">
                        <button class="btn btn-danger btn-block" type="submit" onclick="return confirm('Czy na pewno chcesz usunac konto: @Model.UserName')">Usuń konto</button>
                    </form>
                }

            </div>
        </div>
    </div>
</div>