@{
    ViewBag.Title = $"Błąd {ViewBag.ErrorStatusCode}";
}

<div class="container m-4">
    <div class="col-12 text-center">
        <h1>Błąd @ViewBag.ErrorStatusCode</h1>
        <img style="width:100%; max-width:600px;" src="~/img/assets/ErrorImage.png" />
    </div>
</div>

