@model TopCommentsViewModel
@{
    ViewBag.Title = Model.User.UserName;
}
    <div class="row">
        <div class="col-md-3  mt-2 mb-2">
            @await Html.PartialAsync("_ProfileAccordion", Model.User)
        </div>
        <div class="col-md-6 mt-2 mb-2">
            @if (Model.CommentViewModels.Any())
            {
                foreach (var comment in Model.CommentViewModels)
                {
                    @await Html.PartialAsync("_CommentCard", comment)
                }
            }
            @await Html.PartialAsync("_Pagination", Model.PaginationViewModel)
        </div>
    </div>